<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="../index.html#home" class="active">TRANG CHỦ<br></a></li>
    <li><a href="../index.html#about">GIỚI THIỆU</a></li>
    <li><a href="../index.html#contact">LIÊN HỆ</a></li>
    <li class="dropdown">
      <a href="../index.html#news-section"><span>TIN TỨC</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
      <ul>
        <li class="dropdown">
          <a href="#"><span>Các sự kiện sắp diễn ra</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="baiviet1.html">HỘI CHỢ GIÁO DỤC & DU HỌC TP. CẦN THƠ 2025</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
